name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  # This job will run linting, formatting, and testing for Rust projects
  lint_and_test:
    name: Lint, Format & Test Rust
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Run clippy (linter)
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets --all-features -- -D warnings

      - name: Run fmt (formatter)
        uses: actions-rs/cargo@v1
        with:
          command: fmt

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-targets --all-features -- --test-threads=1
